<div class="flex flex-col md:flex-row gap-6 items-start">
  <!-- Scrollable Side Div (Sticky) -->
  <aside
    class="w-full md:w-96 sticky top-4 max-h-[calc(100vh-2rem)] overflow-y-auto bg-gray-50 border border-gray-200 rounded-2xl shrink-0 p-4"
  >
    <!-- Side Bar -->
    <form (submit)="ask($event)">
      <textarea [formField]="form.text" placeholder="Analyze documents"></textarea>
      <app-upload-file [formField]="form.file" />

      <div class="flex gap-2 mt-4 py-4 border-t">
        <button (click)="reset()" type="button" class="secondary">RESET</button>
        <button class="primary" [disabled]="form().invalid()">ANALYZE</button>
      </div>
    </form>

    <pre class="mt-4 text-xs overflow-hidden">{{ data() | json }}</pre>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 min-w-0">
    @if (geminiService.contentResource.isLoading()) {
      <div class="flex justify-center">
        <app-loader />
      </div>
    }

    @if (geminiService.contentResource.error()?.message) {
      <div class="p-4 bg-red-100 text-red-800 rounded mt-4">Gemini Error</div>
    } @else {
      <div [innerHTML]="geminiService.contentResource.value()"></div>
    }
  </main>
</div>
