<h1>Demo 2: ask</h1>
<form (submit)="ask($event)">
  <textarea [field]="form.text" placeholder="Ask..."></textarea>

  @if (contentResource.isLoading()) {
  <app-loader />
  }
  <ul class="text-red-500 mt-2">
    @for (error of form.text().errors(); track $index) {
    <li>{{ error.message }}</li>
    }
  </ul>

  <div class="flex gap-2 mt-4">
    <button type="button" class="secondary" (click)="reset()">Reset</button>
    <button class="primary" [disabled]="form().invalid()">Submit</button>
  </div>

  @if (contentResource.error()?.message) {
  <div class="p-4 bg-red-100 text-red-800 rounded mt-4">Gemini Error</div>
  } @else {
  <div>{{ contentResource.value() }}</div>
  }
  <pre class="mt-4">{{ data() | json }}</pre>
</form>